@charset "UTF-8";
/* style.css */
body {
  background-color: #acf8fd;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* ヘッダー部分 */
header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #0077aa;
  font-weight: bold;
}

/* メインコンテンツ */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

.image-area img {
  max-width: 100%;
  height: auto;
}

/* フィードバック部分 */
#feedback form {
  margin-bottom: 20px;
}

#comments ul {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* フッター */
footer {
  background-color: #0077aa;
  color: #fff;
  text-align: center;
  padding: 10px;

}
